@import '../../globals.scss';

.form-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin: 10%;
    gap: 10%;
}

.form-register-video {
    display: grid;
    gap: 15%;
}

.form-register-video label {
    grid-column: 1 / span 1;
    grid-row: auto;
    align-items: center;
    display: flex;
}

.form-register-video input {
    grid-column: 2 / span 1;
    grid-row: auto;
}

.form-register-video button {
    grid-column: 2 / span 1;
    grid-row: auto;
}


.input-text {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Redondea las esquinas */
    transition: border-color 0.3s; /* Agrega una transición suave al cambio de color del borde */
    background-color: #0e0c10;
}

/* Cambia el color del borde cuando se pasa el ratón sobre el input */
.input-text:hover {
    border-color: #007bff; /* Cambia el color del borde a azul al pasar el ratón sobre el input */
}

/* Estilo adicional, por ejemplo, para cambiar el color de fondo cuando se enfoca */
.input-text:focus {
    background-color: #f0f0f0;
    outline: none; /* Elimina el contorno predeterminado al enfocar */
}

label {
    color: white;
}

.button-win {
    width: 100%;
}