@import '../../globals.scss';

.navbar {
    @include displayFlex(row, space-between, center);
    height: 6rem;
    width: 100vw;
    padding: 0 2rem;
    font-size: 1.6rem;

    .logo {
        width: 20rem;
    }

    .left-side {
        display: flex;
        flex-direction:row;
        color: white;
        font-weight: 600;
        align-items: baseline;

        .user-data {
            @include displayFlex(row, center, center, 2rem);
            width: 20rem;
            color: white;
            font-weight: bold;

            .user-picture {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                object-fit: cover
            }
        }
    }
}

