@import '../../globals.scss';

.navbar {
    @include displayFlex(row, space-between, center, 2rem);
    height: 6rem;
    width: 100vw;
    padding: 0 2rem;
    font-size: 1.6rem;

    .logo {
        width: 20rem;
    }

    .left-side {
        display: flex;
        flex-direction:row;
        color: white;
        font-weight: 600;
        align-items: baseline;

        .user-data {
            @include displayFlex(row, flex-end, center, 2rem);
            width: 50rem;
            color: white;
            font-weight: bold;

            .user {
                color: $main-color;
            }

            .user-picture {
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                object-fit: cover
            }
        }

        .btn {
            margin-left: 2rem;
        }
    }
}

